# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Build outputs
dist/
out/
build/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Temp / extracted asset directories
Extracted_Video_Wallpapers/
extracted_wallpapers/
test_naruto.jpg
resources/thumbnails/


# Environment files
.env
.env.local
.env.*.local
